body{
    background-color: lightblue;
    margin:0;
    padding:0;
}

header{
    margin:0;
    padding: 0;
}

.menu-centered{
    margin: 0;
    padding: 0;

    background-color: darkorange;
    border: black;
    text-align: center;
}

.menu>li{
    color: black;
    display: inline-block;
    
}

.menu>li:hover{
    color: gray;
}

.menu>li>a{
    color: black;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;  
    padding: 0 75px;  
}

.menu>li>a:hover{
    color: gray;
}

.services{
    position: relative;
}

.services:hover>.sous-menu{
    max-height: 150px;
}

.sous-menu{
    position: absolute;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    left: 0;
    padding: 0;
    margin: 5px 0;
}

.sous-menu>li>a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

table{
    background-size: cover;
}

div#imageperso{
    background-size: cover;
}

header{
    margin: none;
}

.aside-height{
    float: left;
    height: 100%;
    width: 20%;
    border: black;
    background-color: darkgoldenrod;
    height: 100%;
}

.buttonGame{
    font-size: 16px;
    border-style: double;
    border-radius: 10px;
    border-color: black;
    height: 50px;
    width: 200px;
    background-color: darkorange;
    
}

h4.titleperso{
    font-style: italic;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.buttonGame:hover{
    font-style: italic;
    color: gray;
    background-color: orange;
}

table{
    background-color: lightsalmon;
    border-bottom: gray;
}

.index-table-td{
    padding-bottom: 50px;
}